@model PruebaTecnica.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowGroups)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowGroups)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlyAdults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlyAdults)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
